<%- include('header') -%>
<div class="row justify-content-md-center center-screen">
<div class="col-sm-8 col-lg-4 gy-2">
  <form action="/update" method="post" id="subscription-form">
    <%  for (const [book_id, book_name] of Object.entries(booksAvailable)) { %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="<%= book_id %>" id="<%= book_id %>" name="<%= book_id %>" <%= booksSubscribed.includes(book_id) ? 'checked' : '' %>>
        <label class="form-check-label" for="<%= book_id %>">
          <%=  book_name  %>
        </label>
      </div>
    <% }; %>
    <select class="form-select bg-transparent mt-1" aria-label="Default select example" name="format">
      <% for( const format of formats ) { %>
        <option value="<%= format %>" <%= format==selectedFormat ? 'selected' : ''%> ><%= format %> </option>
      <% } %>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Update Subscription</button>
  </form>
</div>
<p class="foot-note text-muted">Please add nyankoo@yandex.com to your kindle's trust list.</p>
</div>

<script>
  // $(document).ready(function(){
  //   $('select').formSelect();
  // });
  $("#subscription-form").submit(function (event) {
    event.preventDefault();
    let subscribed_books=[]
    $(this).find("input:checkbox:checked").each(function(e){
      subscribed_books.push($(this).val())
    })
    let format = $(this).find("select").val()
    let responseBody = {
      email_address: "<%= email_address %>",
      subscribed_books: subscribed_books,
      format: format,
      previous: {
        subscribed_books: "<%= JSON.stringify(booksSubscribed) %>", // .replaceAll("&#34;", '')
        format: "<%= selectedFormat %>"
      }};
    // submit the resposeBody
    $.ajax({
      type: "POST",
      url: "/update",
      data: JSON.stringify(responseBody),
      contentType: "application/json",
      dataType: "json",
      success:function(response){
        // debug: this never gets called
        document.write(response);
      }   
    });
  });
</script>
<%- include('footer') -%>